<% layout('layouts/boilerplate') %>

<div id="showPageContainer">

    <img src="<%= movie.poster_url || '' %>" alt="" class="card col-sm-4 overflow-hidden">
    <div class="card col-sm-7 border-0">
        <div class="cardShow mb-4">
            <div class="card-header text-center rounded-1">
                Rp <span class="cardPrice fw-bold"><%= movie.ticket_price %></span> / Seat
            </div>
        </div>
        <div class="cardShow mb-4">
            <div class="card-header">
                <div class=" text-center">
                    <%= movie.title %>
                </div>
            </div>
            <div class="card-body">
                <div class="">
                    <%= movie.description %>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <div class="col-5 cardShow text-center">
                <div class="card-header ">
                    Release Date
                </div>
                <div class="card-body text-center">
                    <%= movie.release_date %>
                </div>
            </div>
            <div class="col-5 cardShow text-center">
                <div class="card-header ">
                    Age Rating
                </div>
                <div class="card-body text-center">
                    <%= movie.age_rating %>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-3 offset-sm-4">

            <form action="/movies/<%= indexArray %>/addcart" method="POST">
                <select class="form-select text-center col-6 my-3" aria-label="Default select example" id="seat">
                    <option selected>Select Quantity</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <button
                    class="btn btn-socialize btn-addToCart btn-success rounded-1 border-0 btn-sm w-100  text-light py-3">
                    Add to cart
                </button>
            </form>
        </div>

    </div>


</div>
</div>